In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('KRW-BTC.csv', index_col=0)
df1.head()

,open,high,low,close,volume,value
2024-05-13 09:00:00,86521000.0,86655000.0,86465000.0,86650000.0,5.383460,4.660389e+08
2024-05-13 09:01:00,86655000.0,86682000.0,86622000.0,86682000.0,1.112850,9.642501e+07
2024-05-13 09:02:00,86665000.0,86770000.0,86661000.0,86723000.0,2.239462,1.942105e+08
2024-05-13 09:03:00,86706000.0,86760000.0,86692000.0,86731000.0,1.078678,9.352994e+07
2024-05-13 09:04:00,86698000.0,86730000.0,86695000.0,86724000.0,2.639084,2.288052e+08

In [3]:
df2 = pd.read_csv('KRW-BTC2.csv', index_col=0)
df3 = pd.read_csv('KRW-BTC3.csv', index_col=0)
df4 = pd.read_csv('KRW-BTC4.csv', index_col=0)
df5 = pd.read_csv('KRW-BTC5.csv', index_col=0)
df6 = pd.read_csv('KRW-BTC6.csv', index_col=0)

In [4]:
df2.head()

,open,high,low,close,volume,value
2024-05-03 09:00:00,83096000.0,83206000.0,83078000.0,83175000.0,5.263885,4.376051e+08
2024-05-03 09:01:00,83210000.0,83231000.0,83136000.0,83229000.0,4.876589,4.056900e+08
2024-05-03 09:02:00,83229000.0,83274000.0,83213000.0,83220000.0,7.563583,6.295759e+08
2024-05-03 09:03:00,83233000.0,83268000.0,83168000.0,83170000.0,3.422453,2.847502e+08
2024-05-03 09:04:00,83168000.0,83200000.0,83168000.0,83199000.0,3.603775,2.997776e+08

In [5]:
df3.head()

,open,high,low,close,volume,value
2024-04-23 09:00:00,97239000.0,97274000.0,97189000.0,97257000.0,11.569363,1.124810e+09
2024-04-23 09:01:00,97257000.0,97300000.0,97192000.0,97215000.0,6.292206,6.119819e+08
2024-04-23 09:02:00,97215000.0,97276000.0,97192000.0,97242000.0,6.683361,6.497003e+08
2024-04-23 09:03:00,97193000.0,97241000.0,97168000.0,97168000.0,4.639833,4.509402e+08
2024-04-23 09:04:00,97168000.0,97168000.0,97100000.0,97101000.0,6.009565,5.836909e+08

In [6]:
df4.head()

,open,high,low,close,volume,value
2024-04-13 09:00:00,99645000.0,99776000.0,99561000.0,99717000.0,7.385309,7.359053e+08
2024-04-13 09:01:00,99717000.0,99719000.0,99575000.0,99629000.0,4.918688,4.901325e+08
2024-04-13 09:02:00,99628000.0,99629000.0,99550000.0,99628000.0,4.760420,4.741816e+08
2024-04-13 09:03:00,99628000.0,99628000.0,99589000.0,99626000.0,2.473379,2.464138e+08
2024-04-13 09:04:00,99626000.0,99629000.0,99591000.0,99629000.0,3.702566,3.688721e+08

In [7]:
df5.head()

,open,high,low,close,volume,value
2024-01-04 03:16:00,58475000.0,58538000.0,58440000.0,58538000.0,2.298752,1.344724e+08
2024-01-04 03:17:00,58581000.0,58601000.0,58520000.0,58560000.0,1.402681,8.216310e+07
2024-01-04 03:18:00,58561000.0,58603000.0,58522000.0,58603000.0,2.066923,1.210766e+08
2024-01-04 03:19:00,58616000.0,58658000.0,58561000.0,58634000.0,4.345876,2.547027e+08
2024-01-04 03:20:00,58629000.0,58630000.0,58542000.0,58548000.0,1.703177,9.979850e+07

In [8]:
df6.head()

,open,high,low,close,volume,value
2023-09-25 22:34:00,35320000.0,35356000.0,35311000.0,35355000.0,1.578477,5.577094e+07
2023-09-25 22:35:00,35355000.0,35373000.0,35339000.0,35355000.0,1.757260,6.212254e+07
2023-09-25 22:36:00,35373000.0,35377000.0,35345000.0,35355000.0,1.420679,5.022720e+07
2023-09-25 22:37:00,35355000.0,35381000.0,35346000.0,35378000.0,1.885514,6.669424e+07
2023-09-25 22:38:00,35381000.0,35381000.0,35356000.0,35378000.0,1.716982,6.073236e+07

In [11]:
df6.tail()

,open,high,low,close,volume,value
2024-01-04 08:55:00,58533000.0,58573000.0,58522000.0,58553000.0,2.874701,1.683195e+08
2024-01-04 08:56:00,58553000.0,58570000.0,58550000.0,58550000.0,6.936339,4.061346e+08
2024-01-04 08:57:00,58550000.0,58561000.0,58550000.0,58561000.0,3.221717,1.886430e+08
2024-01-04 08:58:00,58552000.0,58590000.0,58552000.0,58583000.0,2.918091,1.709246e+08
2024-01-04 08:59:00,58583000.0,58583000.0,58580000.0,58581000.0,3.122422,1.829159e+08

In [9]:
df = pd.concat([df5,df4,df3,df2,df1])

In [10]:
df

,open,high,low,close,volume,value
2024-01-04 03:16:00,58475000.0,58538000.0,58440000.0,58538000.0,2.298752,1.344724e+08
2024-01-04 03:17:00,58581000.0,58601000.0,58520000.0,58560000.0,1.402681,8.216310e+07
2024-01-04 03:18:00,58561000.0,58603000.0,58522000.0,58603000.0,2.066923,1.210766e+08
2024-01-04 03:19:00,58616000.0,58658000.0,58561000.0,58634000.0,4.345876,2.547027e+08
2024-01-04 03:20:00,58629000.0,58630000.0,58542000.0,58548000.0,1.703177,9.979850e+07
...,...,...,...,...,...,...
2024-05-23 08:55:00,95420000.0,95420000.0,95417000.0,95420000.0,0.893880,8.529284e+07
2024-05-23 08:56:00,95420000.0,95421000.0,95418000.0,95420000.0,0.250338,2.388700e+07
2024-05-23 08:57:00,95421000.0,95421000.0,95420000.0,95421000.0,0.552918,5.275961e+07
2024-05-23 08:58:00,95421000.0,95425000.0,95420000.0,95425000.0,0.528325,5.041412e+07
2024-05-23 08:59:00,95425000.0,95445000.0,95404000.0,95421000.0,2.562034,2.444649e+08

In [12]:
df[344:]

,open,high,low,close,volume,value
2024-01-04 09:00:00,58581000.0,58583000.0,58449000.0,58533000.0,11.209231,6.560578e+08
2024-01-04 09:01:00,58533000.0,58581000.0,58529000.0,58580000.0,5.956192,3.487218e+08
2024-01-04 09:02:00,58536000.0,58580000.0,58528000.0,58538000.0,5.321203,3.115136e+08
2024-01-04 09:03:00,58580000.0,58581000.0,58538000.0,58549000.0,2.561613,1.499841e+08
2024-01-04 09:04:00,58542000.0,58549000.0,58482000.0,58500000.0,2.823301,1.652578e+08
...,...,...,...,...,...,...
2024-05-23 08:55:00,95420000.0,95420000.0,95417000.0,95420000.0,0.893880,8.529284e+07
2024-05-23 08:56:00,95420000.0,95421000.0,95418000.0,95420000.0,0.250338,2.388700e+07
2024-05-23 08:57:00,95421000.0,95421000.0,95420000.0,95421000.0,0.552918,5.275961e+07
2024-05-23 08:58:00,95421000.0,95425000.0,95420000.0,95425000.0,0.528325,5.041412e+07
2024-05-23 08:59:00,95425000.0,95445000.0,95404000.0,95421000.0,2.562034,2.444649e+08

In [13]:
df_merged = pd.concat([df6, df[344:]])

In [15]:
df6

,open,high,low,close,volume,value
2023-09-25 22:34:00,35320000.0,35356000.0,35311000.0,35355000.0,1.578477,5.577094e+07
2023-09-25 22:35:00,35355000.0,35373000.0,35339000.0,35355000.0,1.757260,6.212254e+07
2023-09-25 22:36:00,35373000.0,35377000.0,35345000.0,35355000.0,1.420679,5.022720e+07
2023-09-25 22:37:00,35355000.0,35381000.0,35346000.0,35378000.0,1.885514,6.669424e+07
2023-09-25 22:38:00,35381000.0,35381000.0,35356000.0,35378000.0,1.716982,6.073236e+07
...,...,...,...,...,...,...
2024-01-04 08:55:00,58533000.0,58573000.0,58522000.0,58553000.0,2.874701,1.683195e+08
2024-01-04 08:56:00,58553000.0,58570000.0,58550000.0,58550000.0,6.936339,4.061346e+08
2024-01-04 08:57:00,58550000.0,58561000.0,58550000.0,58561000.0,3.221717,1.886430e+08
2024-01-04 08:58:00,58552000.0,58590000.0,58552000.0,58583000.0,2.918091,1.709246e+08
2024-01-04 08:59:00,58583000.0,58583000.0,58580000.0,58581000.0,3.122422,1.829159e+08

In [17]:
df_merged[143980:144040]

,open,high,low,close,volume,value
2024-01-04 08:40:00,58426000.0,58427000.0,58420000.0,58427000.0,2.272585,1.327719e+08
2024-01-04 08:41:00,58427000.0,58447000.0,58421000.0,58421000.0,2.914773,1.703125e+08
2024-01-04 08:42:00,58421000.0,58447000.0,58410000.0,58437000.0,2.428573,1.418945e+08
2024-01-04 08:43:00,58437000.0,58438000.0,58410000.0,58435000.0,1.650111,9.641760e+07
2024-01-04 08:44:00,58435000.0,58436000.0,58403000.0,58433000.0,4.275499,2.498118e+08
2024-01-04 08:45:00,58416000.0,58434000.0,58402000.0,58429000.0,3.919834,2.290306e+08
2024-01-04 08:46:00,58410000.0,58434000.0,58409000.0,58434000.0,3.172519,1.853663e+08
2024-01-04 08:47:00,58434000.0,58480000.0,58423000.0,58480000.0,5.392621,3.151851e+08
2024-01-04 08:48:00,58480000.0,58488000.0,58450000.0,58480000.0,4.441581,2.597343e+08
2024-01-04 08:49:00,58479000.0,58499000.0,58479000.0,58499000.0,1.508873,8.825526e+07
2024-01-04 08:50:00,58499000.0,58500000.0,58450000.0,58500000.0,6.386842,3.735896e+08
2024-01-04 08:51:00,58499000.0,58500000.0,58488000.0,58497000.0,2.976249,1.741068e+08
2024-01-04 08:52:00,58497000.0,58500000.0,58464000.0,58500000.0,1.994403,1.166507e+08
2024-01-04 08:53:00,58500000.0,58500000.0,58470000.0,58500000.0,4.052666,2.370683e+08
2024-01-04 08:54:00,58499000.0,58533000.0,58490000.0,58522000.0,6.606039,3.865013e+08
2024-01-04 08:55:00,58533000.0,58573000.0,58522000.0,58553000.0,2.874701,1.683195e+08
2024-01-04 08:56:00,58553000.0,58570000.0,58550000.0,58550000.0,6.936339,4.061346e+08
2024-01-04 08:57:00,58550000.0,58561000.0,58550000.0,58561000.0,3.221717,1.886430e+08
2024-01-04 08:58:00,58552000.0,58590000.0,58552000.0,58583000.0,2.918091,1.709246e+08
2024-01-04 08:59:00,58583000.0,58583000.0,58580000.0,58581000.0,3.122422,1.829159e+08
2024-01-04 09:00:00,58581000.0,58583000.0,58449000.0,58533000.0,11.209231,6.560578e+08
2024-01-04 09:01:00,58533000.0,58581000.0,58529000.0,58580000.0,5.956192,3.487218e+08
2024-01-04 09:02:00,58536000.0,58580000.0,58528000.0,58538000.0,5.321203,3.115136e+08
2024-01-04 09:03:00,58580000.0,58581000.0,58538000.0,58549000.0,2.561613,1.499841e+08
2024-01-04 09:04:00,58542000.0,58549000.0,58482000.0,58500000.0,2.823301,1.652578e+08
2024-01-04 09:05:00,58500000.0,58551000.0,58464000.0,58483000.0,8.428798,4.931727e+08
2024-01-04 09:06:00,58483000.0,58539000.0,58447000.0,58470000.0,4.370664,2.556136e+08
2024-01-04 09:07:00,58470000.0,58525000.0,58435000.0,58525000.0,6.792885,3.972518e+08
2024-01-04 09:08:00,58525000.0,58603000.0,58507000.0,58603000.0,8.635769,5.058865e+08
2024-01-04 09:09:00,58603000.0,58685000.0,58603000.0,58676000.0,12.368017,7.253836e+08
2024-01-04 09:10:00,58681000.0,58753000.0,58676000.0,58744000.0,14.327668,8.413485e+08
2024-01-04 09:11:00,58744000.0,58825000.0,58733000.0,58800000.0,10.640398,6.254371e+08
2024-01-04 09:12:00,58800000.0,58834000.0,58800000.0,58812000.0,8.974988,5.278708e+08
2024-01-04 09:13:00,58812000.0,58884000.0,58810000.0,58860000.0,18.155093,1.068196e+09
2024-01-04 09:14:00,58880000.0,58939000.0,58812000.0,58882000.0,12.639008,7.441968e+08
2024-01-04 09:15:00,58923000.0,58950000.0,58882000.0,58885000.0,8.732184,5.143029e+08
2024-01-04 09:16:00,58925000.0,58931000.0,58885000.0,58925000.0,9.271309,5.462413e+08
2024-01-04 09:17:00,58925000.0,58930000.0,58901000.0,58903000.0,9.164794,5.400217e+08
2024-01-04 09:18:00,58901000.0,58926000.0,58901000.0,58917000.0,2.864740,1.687716e+08
2024-01-04 09:19:00,58917000.0,58917000.0,58838000.0,58884000.0,18.067484,1.063965e+09
2024-01-04 09:20:00,58880000.0,58884000.0,58812000.0,58828000.0,6.149188,3.618620e+08
2024-01-04 09:21:00,58864000.0,58864000.0,58809000.0,58809000.0,5.909946,3.475875e+08
2024-01-04 09:22:00,58809000.0,58810000.0,58742000.0,58742000.0,7.937540,4.665451e+08
2024-01-04 09:23:00,58740000.0,58742000.0,58700000.0,58727000.0,10.926812,6.416113e+08
2024-01-04 09:24:00,58727000.0,58768000.0,58726000.0,58730000.0,4.367789,2.565219e+08
2024-01-04 09:25:00,58730000.0,58766000.0,58730000.0,58730000.0,3.003463,1.764331e+08
2024-01-04 09:26:00,58730000.0,58760000.0,58730000.0,58732000.0,3.341742,1.962870e+08
2024-01-04 09:27:00,58732000.0,58799000.0,58731000.0,58799000.0,5.005389,2.941332e+08
2024-01-04 09:28:00,58790000.0,58800000.0,58772000.0,58793000.0,2.557170,1.503259e+08
2024-01-04 09:29:00,58785000.0,58809000.0,58785000.0,58809000.0,3.145376,1.849517e+08
2024-01-04 09:30:00,58808000.0,58824000.0,58800000.0,58818000.0,3.574073,2.101958e+08
2024-01-04 09:31:00,58819000.0,58820000.0,58785000.0,58800000.0,2.702627,1.589420e+08
2024-01-04 09:32:00,58800000.0,58800000.0,58786000.0,58786000.0,2.999828,1.763666e+08
2024-01-04 09:33:00,58786000.0,58787000.0,58772000.0,58787000.0,5.991250,3.521970e+08
2024-01-04 09:34:00,58786000.0,58786000.0,58746000.0,58759000.0,4.726498,2.777637e+08
2024-01-04 09:35:00,58763000.0,58785000.0,58746000.0,58758000.0,2.523493,1.482788e+08
2024-01-04 09:36:00,58761000.0,58874000.0,58747000.0,58864000.0,5.538186,3.255644e+08
2024-01-04 09:37:00,58860000.0,58878000.0,58792000.0,58792000.0,6.893815,4.057858e+08
2024-01-04 09:38:00,58802000.0,58819000.0,58800000.0,58803000.0,2.158187,1.269195e+08
2024-01-04 09:39:00,58803000.0,58850000.0,58797000.0,58849000.0,3.712018,2.183470e+08

In [18]:
df_merged.head()

,open,high,low,close,volume,value
2023-09-25 22:34:00,35320000.0,35356000.0,35311000.0,35355000.0,1.578477,5.577094e+07
2023-09-25 22:35:00,35355000.0,35373000.0,35339000.0,35355000.0,1.757260,6.212254e+07
2023-09-25 22:36:00,35373000.0,35377000.0,35345000.0,35355000.0,1.420679,5.022720e+07
2023-09-25 22:37:00,35355000.0,35381000.0,35346000.0,35378000.0,1.885514,6.669424e+07
2023-09-25 22:38:00,35381000.0,35381000.0,35356000.0,35378000.0,1.716982,6.073236e+07

In [20]:
df_merged

,open,high,low,close,volume,value
2023-09-25 22:34:00,35320000.0,35356000.0,35311000.0,35355000.0,1.578477,5.577094e+07
2023-09-25 22:35:00,35355000.0,35373000.0,35339000.0,35355000.0,1.757260,6.212254e+07
2023-09-25 22:36:00,35373000.0,35377000.0,35345000.0,35355000.0,1.420679,5.022720e+07
2023-09-25 22:37:00,35355000.0,35381000.0,35346000.0,35378000.0,1.885514,6.669424e+07
2023-09-25 22:38:00,35381000.0,35381000.0,35356000.0,35378000.0,1.716982,6.073236e+07
...,...,...,...,...,...,...
2024-05-23 08:55:00,95420000.0,95420000.0,95417000.0,95420000.0,0.893880,8.529284e+07
2024-05-23 08:56:00,95420000.0,95421000.0,95418000.0,95420000.0,0.250338,2.388700e+07
2024-05-23 08:57:00,95421000.0,95421000.0,95420000.0,95421000.0,0.552918,5.275961e+07
2024-05-23 08:58:00,95421000.0,95425000.0,95420000.0,95425000.0,0.528325,5.041412e+07
2024-05-23 08:59:00,95425000.0,95445000.0,95404000.0,95421000.0,2.562034,2.444649e+08

In [19]:
df_merged.to_csv('KRW-BTC-merged.csv', index=True)